body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    margin-block-start: 0px;
}

.main-container h2 {
    margin-bottom: 2rem;
    text-align: center;
}

.mxcw-banner {
    font-size: 36px;
}

.mxcw-section-nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
}

.mxcw-section-nav .mxcw-hidden {
    display: none;
}

.section-left-desc, .section-right-desc {
    white-space: nowrap;
    padding: 0 0.8rem 0 0.8rem;
}

.section-nav-spacer {
    width: 100%
}

.mxcw-container {
    display: flex;
    flex-direction: column;
}

.mxcw-map-holder {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    height: 35%;
    transition-property: height;
    transition-duration: 400ms;
}

.mxcw-content-holder {
    display: flex;
    flex-direction: column;
    height: 65%;
    font-size: 18px;
    padding: 1rem;
    align-items: center;
    transition-property: height;
    transition-duration: 400ms;
}

.section-button {
    stroke: #362F24;
}

.section-button:hover:not(.disabled) {
    stroke: rgba(90,82,68,.8);
}

.section-button.disabled {
    stroke: #ccc;
}

.mxcw-map {
    height: 60vh;
    /** Otherwise we get jank on selecting smaller/greater checklists somehow */
    min-height: 60vh;
    width: 70vh;
    min-width: 70vh;
    transition-property: height;
    margin: 0px auto;
    overflow: hidden;

    /** Somehow this works when hiding but not when showing */
     transition-duration: 400ms;
}

.mxcw-hideMap .mxcw-map {
    height: 0;
    min-height: 0;
}

/* "Data pane" has been abolished, keep around since some widgets might end up in here at some point */
.mxcw-data {
    /* height: 50%;*/
    display: none;
}

.mxcw-hideMap ~ .mxcw-content-holder {
    height: 100%;
}

.mxcw-hideMap {
    height: 0;
}

.mxcw-content {
    overflow-y: auto;
}

.mxcw-content h2:hover {
    outline: 1px solid grey;
    cursor: pointer;
}

.mxcw-content .section {
    padding: 8px;
}

.mxcw-content img {
    max-height: 60vh;
    max-width: 100%;
}

.mxcw-mapPane {
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: 400ms;
}

.mxcw-mapPane.mxcw-activeMapPane {
    opacity: 1;
    visibility: visible;
}

.mxcw-mapSubPane.mxcw-mapPane {
    transition-duration: 0ms;
}

.mxcw-widgetPane {
    display: none;
    padding: 2em;
}

.mxcw-widgetPane.mxcw-activeWidgetPane {
    display: flex;
}

.fl-imerss-panel {
    display: none;
}

.fl-imerss-panel.fl-imerss-activePanel {
    display: flex;
}

.mxcw-activeSection {
    background-color: #eee;
    outline: 1px solid black;
}

.mxcw-content .section {
    display: none;
}

.mxcw-content .mxcw-activeSection {
    display: flex;
}

.mxcw-mapLabel {
    z-index: 999 !important;
}

.mxcw-mapLabel > div {
    transform: translateX(-50%) translateY(-50%);
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 12px;
    background-color: #eee
}

body ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #C1C1C1;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-thumb:hover {
    background-color: #A8A8A8;
}

body .mx-header ::-webkit-scrollbar {
    width: 8px;
}

body .mx-header ::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

/* Override Xetthecum definition */
.fl-imerss-container {
    margin: 0px;
}

/* Styling for native legends */

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    opacity: 0.7;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.mxcw-hidden.legend {
    opacity: 0;
    visibility: hidden;
    display: none;
}