
.mxcw-widgetPane {
    padding: 0
}

.imerss-container {
    flex-direction: column;
    margin-top: 0;
}

.imerss-pane-info {
    padding: 1em 0.8em 0.7em 0.8em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imerss-panel-label {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 0.2rem 1rem 0.2rem 1.4rem;
}

.imerss-download {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 1rem;
    padding-bottom: 5px;
}

.imerss-download.active {
    visibility: visible;
}

.imerss-region-key {
    font-weight: bold;
}

.imerss-map-title {
    text-align: right;
}


.imerss-download-link {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(../img/download.svg);
    backdrop-filter: opacity(0.7);
    margin-left: 5px;
}

.imerss-download-link:hover {
    outline: 1px #333 solid;
    outline-offset: 2px;
}


.mxcw-widgetPane {
    height: 100%;
}
.mxcw-noStretch {
    height: 100%;
    max-height: 100%;
}

.imerss-taxonDisplay {
    height: auto;
    /** This core definition needs to go **/
    min-width: auto;
}

.imerss-taxonDisplay-close {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-self: end;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem;
    position: absolute;
    top: 0px;
    right: 0px;
    stroke: black;
}

.imerss-taxonDisplay-close:hover {
    color: #475a73;
    stroke: #475a73;
}

.imerss-taxonDisplay-x {
    display: flex;
    margin-left: 5px;
}

.imerss-panel {
    display: none;
    flex-direction: column;
    /** Temporarily undo definition in imerss-viz.css - remove once we build again **/
    position: unset;
}

.imerss-panel.imerss-activePanel {
    display: flex;
}

:root {
    /* Definition taken from xetthecum-shared.css which is no longer included */
    --imerss-eco-colour: #DEE0B0;
}

.imerss-checklist-holder {
    background: var(--imerss-eco-colour);
}

.imerss-map-and-taxa {
    flex-direction: row;
    max-height: inherit;
}

/* Taken from R Leaflet's ".info" */
.mxcw-legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: #555;
    color: #eee;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    /* Solution from https://stackoverflow.com/a/21335440 */
    visibility: visible;
    transition-property: opacity, visibility;
    transition-duration: 400ms;
}

.mxcw-hidden.mxcw-legend {
    opacity: 0;
    visibility: hidden;
}

/* As in xetthecum.css */
.imerss-legend-preview {
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
    outline: 1px solid #353030;
    margin: 2px;
    position: relative;
    top: 3px;
    cursor: pointer;
}

.imerss-map-legend > span {
    display: inline-block;
    font-size: 1.3rem;
    margin-left: 2rem;
    margin-bottom: 0.4rem;
}

.imerss-legend-label {
    display: inline-block;
    font-size: 0.9rem;
    width: 8rem;
    margin-left: 6px;
    position: relative;
    top: 1px;
    cursor: pointer;
}

.imerss-selected .imerss-legend-preview {
    outline: 2px solid #FCFF63;
}

/** Magic sauce allows resizing of widget smaller than "natural width" of .imerss-checklist-outer */
.imerss-checklist-widgets {
    width: 0;
}

.imerss-checklist-outer {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.imerss-map-and-taxa > * {
    flex-grow: 1;
}

.imerss-taxa {
    display: none;
}

.imerss-photo {
    height: 300px;
}

.taxonDisplay-row {
    min-width: 0px;
}

.imerss-map-and-taxa {
    margin-right: 0px;
}

@media screen and ( max-height: 1024px ){
    .imerss-photo {
        height: 200px;
        max-width: 300px;
    }
}


/* Reach deep into the "general-module-panel" inside the iNat components and adjust its height */
#inat-components > div > div:last-child {
    height: calc(100vh - 350px);
    overflow-y: auto;
    /** Half the "grid gap" of 8px */
    padding-right: 4px;
}

#inat-components > div {
    padding-top: 0px;
}
