
@font-face {
    font-family: "Noto Sans";
    src: url("fonts/Noto_Sans/NotoSansVariable.ttf");
}

:root {
    --text-brown: #362F24;
    --page-background: #F2FCD6;
    --panel-background: #E7DDCD;
    --content-inactive-panel-background: #fcfdf700;
    --content-active-panel-background: #FFFDFD;
    --content-active-panel-border: #362F24;
    --content-inactive-panel-border: #c6b69a;
    --content-inactive-text-color: #c6b69a;

    font-family: "Noto Sans", Helvetica, sans-serif;
    color: var(--text-brown);
}

#header {
    display: none;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
}

footer {
    padding-top: 0px;
}

.main-container h2 {
    margin: 0px;
    margin-bottom: 1rem;
    padding: 0px;
    font-size: 1.2rem;
}

.main-container p {
    padding: 0px;
    margin: 0px;
}

.mxcw-content .section {
    padding: 2rem;
}

body #quarto-content {
    margin: 0rem 1rem;
    padding: 1rem;
    padding-right: 0px;
    max-height: calc(100vh - 300px);
    min-height: 200px;
    background-color: var(--panel-background);
}

.nav-footer * {
    margin: 0px;
}

.mxcw-leftPane {
    background-color: var(--content-active-panel-background);
    border: 4px solid var(--content-active-panel-border);
    width: 100%;
    /* For God's sake I really mean it! */
    min-width: 100%;
    padding: 2rem;
    gap: 2rem;
}

.mxcw-leftPane-container {
    background-color: var(--panel-background);
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0px;
    grid-area: b;
    width: 100%;
    min-width: 100%;
    padding-right: 1rem;

}

.mxcw-leftPane img {
    max-height: 60vh;
    max-width: 100%;
}

.mxcw-content {
    background-color: var(--panel-background);
    padding: 0px;
    padding-right: 1rem;
    width: 100%;
    min-width: 100%;
}


.mxcw-content .section {
    background-color: var(--content-inactive-panel-background);
    color: var(--content-inactive-text-color);
    border: 4px solid var(--content-inactive-panel-border);

}

.mxcw-content .mxcw-activeSection {
    background-color: var(--content-active-panel-background);
    border: 4px solid var(--content-active-panel-border);
    color: var(--text-brown);
    outline: none;
}

.mxcw-content .section p {
    margin-bottom: 1rem;
}

.mxcw-content .section p:last-child {
    margin-bottom: 0px;
}



.fld-imerss-region-subtidal {
    fill: url(#marine);
    background-repeat: repeat;
}

.fld-imerss-region-lake-laughlin-lake {
    fill: url(#lacustrine);
    background-repeat: repeat;
}

.fld-imerss-region-wetland {
    fill: url(#wetland);
    background-repeat: repeat;
}

.fld-imerss-region-clearcut {
    fill: url(#recently-harvested);
    background-repeat: repeat;
}

.fld-imerss-region-pole-sapling {
    fill: url(#pole-sapling);
    background-repeat: repeat;
}

.fld-imerss-region-young-forest {
    fill: url(#young-forest);
    background-repeat: repeat;
}

.fld-imerss-region-mature-forest {
    fill: url(#mature-forest);
    background-repeat: repeat;
}

.fld-imerss-region-woodland {
    fill: url(#woodland);
    background-repeat: repeat;
}

.section.level2 {
    margin-bottom: 150px;
}

.mxcw-content {
    height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.long-down-arrow {
    margin: -130px auto 1rem auto;
    display: flex;
}

.long-down-arrow svg{
    margin: 0px auto;
    color: var(--content-active-panel-border);
}

.running-header {
    max-width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    border-bottom: 3px solid var(--content-active-panel-border);
    background-color: var(--panel-background);
    margin-bottom: 1rem;
    margin-right: 1rem;

}

.mxcw-container {
    display: grid;
    grid-template:  "a b" auto
                    "a b" auto
                    / 1fr 2fr;
    overflow: hidden;
    height: calc(100vh - 14rem);
}

.mxcw-map {
    /* TODO: check that the 60vh/70vh definitions in imerss-scrolly.css are really shared */
    width: 100%;
    min-width: auto;
    min-height: 40vh;
    height: auto;
}

/** Need to reoverride this given we've overridden .mxcw-map **/
.mxcw-hideMap.mxcw-map {
    height: 0;
    min-height: 0;
}

#map-svg {
    height: 0px;
    position: absolute;
}

.culturalValueRows {
    background-color: red;
}

.main-container {
    padding-bottom: 70vh;
}