:root {
    --dark-brown: #362F24;
    --light-brown: #5A5244;
    --text-brown: var(--dark-brown);
    /* Not quite the same as --bs-body-color which is #5A5244 */
    --page-background: #F2FCD6;
    --panel-background: #FFFDFD;
    --content-background: #E7DDCD;
    --panel-border: var(--dark-brown);
    --bio-background: var(--light-brown);
    --margin-width: calc((100vw - 110vh)/2);

    --section-button-background: #FFFDFD;
    --section-button-stroke: var(--dark-brown);

    --section-circle-stroke-width: 4px;
    --section-circle-fill: black;

    /** This is defined in bootstrap.min.css  which ends up in site_libs/bootstrap **/
    font-family: var(--bs-body-font-family);
    color: var(--text-brown);
}

/** Hide the document header spat out by reknitting **/
#header {
    display: none;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-size: 1.5rem;
}

footer {
    padding-top: 0px;
}

blockquote {
    background-color: var(--panel-background);
    border-left: none;
}

body {
    font-family: var(--bs-body-font-family);
    margin-left: max(var(--margin-width), 8px);
    margin-right: max(var(--margin-width), 8px);
}

body #quarto-content {
    font-family: var(--bs-body-font-family);
    margin: 0rem 1rem;
    padding: 1rem;
    max-height: calc(100vh - 300px);
    min-height: 200px;
    background-color: var(--content-background);
}

/** Override silly definition in bootstrap-min **/
#quarto-content > * {
    padding: 0
}

/** Another silly bootstrap definition */
.main-container p {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav-footer * {
    margin: 0;
}

/* Save a bit of space in the header */
.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Somehow without this nav bar does not push to right */
.navbar-collapse {
    flex-grow: 0;
}

audio {
    width: 100px;
    height: 40px;
}

.ui-tooltip {
    padding: 2px 8px 2px 8px;
}

/** Definitions for "section buttons in panel sides" **/

.mxcw-section-nav {
    position: absolute;
    top: 5px;
    width: calc(100% + 50px);
}

.mxcw-content-holder {
    background-color: var(--panel-background);
    border: 4px solid var(--panel-border);
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.mxcw-sectionColumn.mxcw-vizColumn {
    border-color: var(--panel-border);
    background-color: #DFDFB5;
}

.imerss-container {
    position: relative;
    overflow-y: auto;
    color: #5A5244;
}

.imerss-container-checklist {
    /* Can't make the taxon info smaller than 480px plus a bit of margin*/
    /* min-width: 502px; */
}

.imerss-ecological-pane {
    background-color: var(--bio-background);
    --section-circle-stroke-width: 0px;
    color: #F2FCD6;
}

.imerss-story-pane .mxcw-sectionColumn {
    overflow-y: visible;
}

.imerss-story-pane .imerss-container {
    overflow-y: visible;
}

.imerss-story-pane .mxcw-sectionInner {
    overflow-y: auto;
    /* Make sure inner items don't shrink to parent height */
    align-items: start;
}

.mxcw-sectionColumn.mxcw-vizColumn ::-webkit-scrollbar-thumb {
    background-color: #5A5244;
}

.imerss-ecological-pane a {
    color: #F2FCD6;
}

.imerss-ecological-pane a:hover {
    color: #FFFDFD;
}

.imerss-container a {
    color: #5A5244
}

.imerss-container a:hover {
    color: #F2FCD6;
}

.imerss-ecological-pane .section-button-desc {
    color: #5A5244;
}

.mxcw-return-to-main {
    position: absolute;
    background-color: var(--light-brown);
    color: #F2FCD6;
    stroke: #F2FCD6;
    left: 40px;
    /* Half a trick from https://www.smashingmagazine.com/2013/08/absolute-horizontal-vertical-centering-css/ */
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    height: 3rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    padding: 1rem;
}

.imerss-taxonDisplay-close {
    stroke: var(--light-brown);
}

.mxcw-return-to-main.mxcw-hidden {
    display: none;
}

.mxcw-return-to-main:hover {
    outline: 1px #aaa solid;
    outline-offset: -3px;
}

.mxcw-return-to-main svg {
    margin-right: 0.5rem;
}

@media screen and ( max-width: 896px ) {
    #return-main-label {
        display: none;
    }
}

.imerss-taxonDisplay {
    border: none;
    /* overflow: visible; */
    padding: 5px;
    /* align-self: center; */
    /* width: 480px;*/
}

.imerss-taxonDisplay > div {
    width: auto;
}

/** Wrapping rules port back into core */
.taxonDisplay-row .taxonDisplay-row {
    padding-left: 36px;
    text-indent: -28px;
}

.imerss-checklist li:has(>.checklist-rank-species) {
    text-indent: -80px;
    margin-left: 80px;
}


.cultural-activities {
    display: table;
}

.cultural-activities-row {
    display: table-row;
    line-height: 1.1;
    padding: 4px 0;
}

.cultural-activities-row img {
    padding-right: 8px;
}

.cultural-activities-row * {
    display: table-cell;
    vertical-align: middle;
}

.imerss-cultural-values {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
}

@media screen and ( max-height: 1024px ) {

    .imerss-cultural-value-img {
        width: 54px;
        height: 54px;
        background-repeat: no-repeat;
        background-size: 54px;
    }

    .imerss-cultural-values {
        max-width: 300px;
    }

    .imerss-taxonDisplay {
        font-size: smaller;
    }
}

.imerss-checklist-label {
    padding-left: 1.4rem;
}

.imerss-legend-preview {
    width: 28px;
    height: 28px;
    background-size: 64px;
    background-position-y: 28px;
    /** Override silly definition from imerss-viz-scrolly.css - need to remove dependence **/
    top: 0px;
    margin: 3px;
}

.imerss-selected .imerss-legend-preview {
    outline: 3px solid #FCFF63;
}

.imerss-legend-row:not(.imerss-selected) .imerss-legend-preview:hover {
    outline: 1px #999 solid;
    outline-offset: 2px;
}

.imerss-legend-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.mxcw-legend {
    width: 15rem;
    margin: auto;
    background: #5A5244E0;
    pointer-events: all;
}

@media screen and ( max-height: 560px ) {
    .mxcw-map-holder .mxcw-legend {
        display: none
    }
}


/* Reoverride this theme colour back again which is unreadable against the background
 */
.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
    color: #5a5244;
}

.nav-footer {
    min-height: initial;
}

.nav-footer .nav-footer-center {
    min-height: 1em;
    margin-top: 0;
}

#map-svg {
    height: 0px;
    position: absolute;
}

/* Make margins agree with label and header */
.imerss-checklist-holder {
    margin: 0.5em 1.2em;
}

.checklist-hulq-name {
    font-weight: bold;
}
