
/* Fix the height of the "Status" viz to account for the bar widget above it */
.mxcw-widgetPane-Status.mxcw-noStretch {
    height: calc(100% - 135px);
}

.mxcw-widgetPane-Status .html-widget {
    margin-top: -30px;
    margin-bottom: 20px;
}

.mxcw-widgetPane-Protected div {
    text-align: end;
}

.mxcw-widgetPane-Protected p {
    margin-block-start: 1em;
    margin-block-end: 0;
}

.mxcw-widgetPane-Protected .fld-imerss-pane-info {
    display: none;
}
