
/* Fix the height of the "Status" viz to account for the bar widget above it */
.mxcw-widgetPane-Status.mxcw-noStretch {
    height: calc(100% - 135px);
}

.mxcw-widgetPane-Status .html-widget {
    margin-top: -30px;
    margin-bottom: 20px;
}
