.fld-imerss-region-subtidal {
    fill: url(#marine);
    background-repeat: repeat;
}

.fld-imerss-region-lake-laughlin-lake {
    fill: url(#lacustrine);
    background-repeat: repeat;
}

.fld-imerss-region-wetland {
    fill: url(#wetland);
    background-repeat: repeat;
}

.fld-imerss-region-clearcut {
    fill: url(#recently-harvested);
    background-repeat: repeat;
}

.fld-imerss-region-pole-sapling {
    fill: url(#pole-sapling);
    background-repeat: repeat;
}

.fld-imerss-region-young-forest {
    fill: url(#young-forest);
    background-repeat: repeat;
}

.fld-imerss-region-mature-forest {
    fill: url(#mature-forest);
    background-repeat: repeat;
}

.fld-imerss-region-woodland {
    fill: url(#woodland);
    background-repeat: repeat;
}

.section.level2 {
    margin-bottom: 150px;
}

.mxcw-content {
    height: calc(100vh - 12rem);
}

.long-down-arrow {
    margin: -140px auto 0 auto;
}

.running-header {
    width: 100%;
    font-size: 1.2em;
    font-weight: 500;
    border-bottom: 3px solid var(--content-active-panel-border);
    margin-bottom: 1rem;
}

.mxcw-widgetPane {
    padding: 1rem;
}

#map-svg {
    height: 0px;
    position: absolute;
}
